* {
    outline: 2px solid red;
}

body {
    background-color: honeydew;
}

.image {
    text-align: center;
}

.header, .header2, .description {
    color: navy;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    text-align: center;
    color: navy;
    font-family: 'Times New Roman', Times, serif;
}

.list {
    font-size: 24px;
    color: navy;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}